<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление университета</title>
</head>
<body>
    <h3>Форма добавления университета</h3>

    <form method="post" th:action="@{/university/add}"
          th:object="${university}">
        <label>Название университета
            <input th:field="*{universityName}" type="text">
        </label>
        <p>
            <input type="submit" value="Добавить">
        </p>
    </form>

</body>
</html>